
.cpYearNavigation,.cpMonthNavigation{background-color:#C0C0C0;text-align:center;vertical-align:middle;text-decoration:none;color:#000000;font-weight:bold;}
.cpDayColumnHeader, .cpYearNavigation,.cpMonthNavigation,.cpCurrentMonthDate,.cpCurrentMonthDateDisabled,.cpOtherMonthDate,.cpOtherMonthDateDisabled,.cpCurrentDate,.cpCurrentDateDisabled,.cpTodayText,.cpTodayTextDisabled,.cpText{font-family:arial;font-size:8pt;}
TD.cpDayColumnHeader{text-align:right;border:solid thin #C0C0C0;border-width:0px 0px 1px 0px;}
.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate{text-align:right;text-decoration:none;}
.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled{color:#D0D0D0;text-align:right;text-decoration:line-through;}
.cpCurrentMonthDate, .cpCurrentDate{color:#000000;}
.cpOtherMonthDate{color:#808080;}
TD.cpCurrentDate{color:white;background-color: #C0C0C0;border-width:1px;border:solid thin #800000;}
TD.cpCurrentDateDisabled{border-width:1px;border:solid thin #FFAAAA;}
TD.cpTodayText, TD.cpTodayTextDisabled{border:solid thin #C0C0C0;border-width:1px 0px 0px 0px;}
A.cpTodayText, SPAN.cpTodayTextDisabled{height:20px;}
A.cpTodayText{color:black;}
.cpTodayTextDisabled{color:#D0D0D0;}
.cpBorder{border:solid thin #808080;}
