/*BODY Properties starts here*/
body{
	margin: 0px 0px 0px 0px;  	
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	
}

.bodyClass	
{
	margin: 0px 0px 0px 0px; background-color:#ffffff; 	
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
}

/*Body Properties ends here*/
#companyLogo
{
margin-left: 10px;
}

.leftHead1
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #303030; 
font-weight:bold;
height: 20px;
border-bottom: 1px solid #EFEFEF;
background-color: #E7E7E7;
}
.leftHead1 a:visited {color:#000000; text-decoration:none; }
.leftHead1 a:hover {color:#84AEE7; text-decoration:none;}
.leftHead1 a:active {color:#979797; text-decoration:none;}
.leftHead1 a:link {color:#000000; text-decoration:none;}

/*Left Menu properties starts here*/
.leftHead
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #303030; 
font-weight:bold;
height: 20px;
border-bottom: 1px solid #EFEFEF;
/*background-color: #E7E7E7;*/
}
.leftHead a{color:#303030; text-decoration:none;}

.leftLink
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
font-weight: normal;
text-decoration: none;
color: #000000;
padding-left: 5px;
height: 15px;
margin: 0px;
/*background-color: #F7F7F7;*/
}
.leftLink a:visited {text-decoration: none; color: #000000;}
.leftLink a:hover {text-decoration: underline; color: #ff0000;}
.leftLink a:active {text-decoration: none; color: #000000;}
.leftLink a:link {text-decoration: none; color: #000000;}
/*Left Menu properties ends here*/


/*Form elements properties starts here*/
.dataLabelviewL
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #003366;
height: 20;
padding-left: 5px;
vertical-align: middle;
white-space: nowrap;
background-color: #ffffff;
}
.dataLabelviewR
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
padding-left: 5px;
vertical-align: middle;
background-color: #ffffff;
/* apply this class to LeftColumn of a ViewData Table only*/
}

.dataLabelleftnew
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 25%;
text-align: right;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
/* apply this class to RightColumn of a ViewData Table only*/
}
.dataLabelleftaud
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: right;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
/* apply this class to RightColumn of a ViewData Table only*/
}

.bodyBoldinnerset {
font-family: Verdana, Arial, Helvetica;
font-weight: bold;
font-size: 8pt;
height: 23px;
color: #3A457C;
padding-left: 10px;
vertical-align: middle;
border-bottom: 1px solid #999999;
/* apply this class to a PageHeading only*/
}
.bodyBoldinnerep {
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #3A457C;
padding-left: 10px;
height: 23px;
vertical-align: middle;
/* apply this class to a SubHeadings only*/
}
.dataLabelviewL1
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 50%;
text-align: left;
padding: 0px 0px 0px 10px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
background-color: #E9E8E8;
border-top: 1px solid #E1E1E1;
border-right: 1px solid #E1E1E1;
border-bottom: 1px solid #E1E1E1;
border-left: 1px solid #E1E1E1;
/* apply this class to a VIEWNEAC only*/
}
.dataLabelviewR1
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 50%;
text-align: left;
padding: 0px 0px 0px 10px;
vertical-align: middle;
height: 23px;
background-color: #F5F5F5;
border-top: 1px solid #EDEEED;
border-right: 1px solid #EDEEED;
border-bottom: 1px solid #EDEEED;
border-left: 1px solid #EDEEED;
/* apply this class to a VIEWNEAC only*/
/* apply this class to LeftColumn of a ViewData Table only*/
}
.dicovercontrol{
font-family: Verdana, Arial, Helvetica;
font-weight: bold;
font-size: 8pt;
color: #3A457C;
padding-left: 10px;
height: 23px;
vertical-align: middle;

/* apply this class to a SubHeadings only*/
}
.discoverTable{
font-family: Verdana, Arial, Helvetica;
font-weight: bold;
font-size: 8pt;
color: #3A457C;
height: 23px;
border-top: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
border-bottom: 1px solid #e1e1e1;
border-left: 1px solid #e1e1e1;
padding-left: 0px;
padding-left: 10px;
vertical-align: middle;
}
.bodyBold{
font-family: Verdana, Arial, Helvetica;
font-weight: bold;
font-size: 9pt;
color: #000000;
padding-left: 10px;
height: 23px;
vertical-align: middle;
 /*apply this class to a PageHeading only*/
}
.mysearch
{
font-family: Verdana, Arial, Helvetica;
font-weight: bold;
font-size: 11px;
color: #000000;
padding-left: 11px;
vertical-align: bottom;
}
.btn {
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:11px;
background-color: #D9D7D8;
color:#333333;
font-weight:600;
height:22px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:2px;
/*apply this class to a Button only*/
}
.btn4 {
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:9px;
background-color: #D9D7D8;
color:#333333;
height:22px;
width:160px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:2px;
/*apply this class to a Button only : use this instead of .btn for heigher widths */
}
.btn3 {
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:11px;
background-color: #D9D7D8;
color:#333333;
font-weight:600;
height:22px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:2px;
/*apply this class to a Button only : use this instead of .btn for heigher widths */
}
.btn2 {
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:11px;
background-color: #D9D7D8;
color:#333333;
font-weight:600;
height:20px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:0px;
padding:0px;
/*apply this class to a Button only*/
}

.btnDisb
{
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:11px;
background-color: #D9D7D8;
color:#848284;
font-weight:600;
height:22px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:2px;
/*apply this class to a Button only*/
}
.smallbtn {
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:11px;
background-color: #D9D7D8;
color:#333333;
font-weight:600;
height: 18px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:2px;
/*apply this class to a Button only*/
}
textarea {
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
height: 60px;
width: 250px;
margin-left: 5px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #999999;
border-bottom: 1px inset #999999;
border-left: 1px inset #BDCFE7;
/*apply this class to a TextArea field only*/
}

.dataFgOdd 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: 500;
text-align: left;
color: #000000;
height: 23px;
padding: 0px 0px 0px 3px;
background-color: #ECEFF2;
border-right: 1px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
vertical-align: middle;
/*apply this class to a ODD no. row only ex: 1,3,5..!*/
}
.mytableborder
{
border: 1px solid #DEDFDE;
/*apply this class to a ListServicesTable only*/
}
.errorMsg {
   font-family: Verdana, Arial,Helvetica;
   font-weight: normal;
   font-size: 8pt;
   color: #990000;
   padding-left: 10px;
   /*apply this class to a ERROR messages only*/
}
.warningMsg
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
color: #990000;
padding-left:10px;
/*apply this class to a display Warning*/
}
.userMsg {
   font-family: Verdana, Arial, Helvetica;
   font-weight: normal;
   font-size: 8pt;
   color: #000000;
/*apply this class to a USER messages only*/
}
.messageType {
   font-family: Verdana, Arial, Helvetica;
   font-weight: normal;
   font-size: 8pt;
   color: #000000;
/*apply this class to a USER messages only*/
}
.myhead
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
color: #3A457C;
padding-left:10px;
/*apply this class to a Headings of servicestable only*/
}

.DSubTabDisabled {
font-family : Verdana, Arial, Helvetica, sans-serif; 
color : #999999; 
font-size : xx-small; 
text-decoration : none; 
font-weight : normal; 
} 
.DSubTab {
font-family : Verdana, Arial, Helvetica, sans-serif, MS Gothic; 
color : #ffffff; 
font-size : xx-small; 
text-decoration : underline; 
font-weight : bold; 
text-align: center;
padding-right: 2px;
padding-left: 2px;
margin: 0px;
width: 9%;
white-space: nowrap;
} 
.DSubTab a {
color : #ffffff; 
text-decoration : none; 
} 
.DSubTab a:hover {
color : #ff0000; 
text-decoration : none; 
} 
.DSubTab a:active {
color : #ffffff; 
text-decoration : none; 
} 
.DSubTab a:visited {
color : #ffffff; 
text-decoration : none; 
} 
 

.DSubTabActive {
font-family : Verdana, Arial, Helvetica, sans-serif, MS Gothic; 
font-size : xx-small; 
color : #003366; 
text-decoration : none; 
font-weight : bold; 
text-align: center;
padding-right: 2px;
padding-left: 2px;
margin: 0px;
width: 9%;
border-top: 1px solid #4579B5;
border-right: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
border-left: 1px solid #ffffff;
background-color: #ffffff;
white-space: nowrap;
} 

.DSubTabActive a {
color : #003366; 
text-decoration : none; 
} 
.DSubTabActive a:hover {
color : #ff0000; 
text-decoration : none; 
} 
.DSubTabActive a:active {
color : #003366; 
text-decoration : none; 
} 
.DSubTabActive a:visited {
color : #003366; 
text-decoration : none; 
} 


/* II level Tab classes ends here */
.tableBg
{
background-color: #7BAADE
}
.Required
{
color: #CC0000;
font-size:7pt; 
/*apply this class to a Priority in MyNetEnrich/Home page only*/
}

.dataLabel
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #003366;
width: 25%;
text-align: right;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
/*apply this class to a LeftColumn of table only*/
}

.dataLabelMonitor
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 15%;
text-align: right;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
}

.dataLabelM
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 20%;
text-align: right;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
/*apply this class to a LeftColumn of table only*/
}

.dataLabelNormal
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 75%;
text-align: left;
padding: 0px 0px 0px 10px;
margin-left: 5px;
vertical-align: middle;
height: 23px;
/*apply this class to a LeftColumn of table only*/
}
.dataLabelright{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: left;
height: 20px;
margin: 0px;
padding: 0px 0px 0px 5px;
vertical-align: middle;
/*apply this class to a RigthColumn of table only*/
}

/* TextFields starts*/
.myTextbox2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin-left: 5px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
height: 18px;
width: 150px;
/*apply this class to a TextBox/Textfield only*/
}

.myTextbox3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin-left: 5px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
height: 18px;

/*apply this class to a TextBox/Textfield only*/
}
.myTextbox {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin: 0px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
/*apply this class to a TextBox/Textfield only*/
}




.myhtmlTextbox{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin-left: 5px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
height: 18px;
width: 300px;
/*apply this class to a TextBox/Textfield only*/
}
.myTextboxList {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin: 0px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
height: 18px;
/*apply this class to a TextBox/Textfield only*/
}

.myTextbox2NC {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin: 0px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
height: 18px;
/*apply this class to a TextBox/Textfield only*/
}

/* TextFields ends*/


/* Dropdown boxes OR ListBoxes starts*/
 
.dropdown{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
margin: 0px;
vertical-align: middle;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
/*apply this class to a DropDownBox only*/
}
.dropdown1{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
vertical-align: middle;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
/*apply this class to a DropDownBox only*/
}
.dropdown2{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
margin: 0px;
vertical-align: middle;
/*apply this class to a DropDownBox only*/
}
.dropdownFrm{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
width: 150px;
margin-left: 5px;
vertical-align: middle;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
/*apply this class to a DropDownBox only*/
}

.dropdownFrm1{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
width: 75px;
margin-left: 5px;
vertical-align: middle;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
/*apply this class to a DropDownBox only*/
}

.dropdownFrm2{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
width: 150px;
margin-left: 2px;
vertical-align: middle;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
/*apply this class to a DropDownBox only*/
}
/* Dropdown boxes OR ListBoxes ends*/

.headertab
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #4579B5;
height: 23px;
padding: 0px 0px 0px 11px;
margin: 0px 0px 0px 0px;
}

.btnmap {
/*height:20px;*/
width: 73px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#333333;
text-decoration:none;
background-color: #D9D7D8;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:0px;
padding:0px;
/*apply this class to a Button only*/
}
.mapcontrollerbtn1{
height: 19px;
width: 73px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#333333;
text-decoration:none;
background-color: #D9D7D8;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:0px;
padding:0px;
/*apply this class to a Button only*/
}
.mapcontrollerbtn{
height: 19px;
width: 90px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#333333;
text-decoration:none;
background-color: #D9D7D8;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:0px;
padding:0px;
/*apply this class to a Button only*/
}

.rightMain
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
text-decoration: none;
color: #ffffff;
height: 20px;
padding: 0px 0px 0px 11px;
margin: 0px 0px 0px 0px;
}
.runningText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
color: #000000;
}
.selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: black;
text-decoration:none;
}

#powerTxt
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight: 600;
color:#FFFFFF;
}
.on {font-family: Verdana, arial; font-size:7pt; font-weight:600; color:#000000; background-color:#02FA02;}
.off {font-family: Verdana, arial; font-size:7pt; font-weight:600; color:#FFCCCC; background-color:#CC0000;}
.unknown {font-family: Verdana, arial; font-size:7pt; font-weight:600; color:#000000; background-color:#DBDBDB;}

.gmenu {
font-family : Verdana, arial, sans-serif; 
font-size : 11px; 
font-weight : bold; 
color : #454545; 
text-decoration : none; 
padding : 0; 
margin : 0; 
vertical-align : middle; 
background-image : url(../images/td_bg_off.gif); 
} 
.gmenu a {
text-decoration : none; 
color : #454545; 
} 
.gmenuRed {
font-family : Verdana, arial, sans-serif; 
font-size : 11px; 
font-weight : normal; 
color : #9c0000; 
text-decoration : none; 
padding : 0; 
margin : 0; 
vertical-align : middle; 
} 
.gmenuN {
background-image : url(../images/glob_menu_bar_bg_hl.gif); 
} 
.gmenuA {
font-family : Verdana, arial, sans-serif; 
font-size : 11px; 
font-weight : bold; 
color : #ffffff; 
text-decoration : none; 
padding : 0; 
margin : 0; 
vertical-align : middle; 
background-image : url(../images/td_bg_on.gif); 
} 
.gmenuA a {
text-decoration : none; 
color : #ffffff; 
} 
.gmenuLON {
background-image : url(../images/c_l_on.gif); 
} 
.gmenuRON {
background-image : url(../images/c_r_on.gif); 
} 
.gmenuLOFF {
background-image : url(../images/c_l_off.gif); 
} 
.gmenuROFF {
background-image : url(../images/c_r_off.gif); 
} 
.gmenuBlk {
font-family : Verdana, arial, sans-serif; 
font-size : 11px; 
font-weight : 600; 
color : #000000; 
text-decoration : none; 
} 


.usrname
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: 500;
text-align: right;
color: #000000;
height: 20px;
}




.linkSeperator {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-weight : normal; 
color : #000000; 
margin : 0; 
padding : 0 3px; 
} 
.mylink
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000000;
margin: 0px;
padding: 0px;
/*white-space: nowrap;*/
/*apply this class to a text of all links only*/
}
.mylink a:hover{color: #ff0000; margin: 0px; padding: 0px;}
.mylink a:link{color: #000000; margin: 0px; padding: 0px;}
.mylink a:visited{color: #000000; margin: 0px; padding: 0px;}


.myAsignDe
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: 500;
color: #ffffff;
/*apply this class to a text of all links only*/
}
.myAsignDe a:hover{color: #ff0000; text-decoration: underline;}
.myAsignDe a:link{color: #ffffff; text-decoration: none;}
.myAsignDe a:visited{color: #ffffff; text-decoration: none;}

.myRightTabHeader {
font-family: Verdana, Arial, Helvetica, sans-serif, MS Gothic;
font-size: 11px;
color: #ffffff;
background-color: #39457B ;
text-decoration: none;
font-weight: normal;
text-align: center;
padding-left: 0px;

/*apply this class to a TAB only*/
}
myRightTabHeaderOff {
	font-family: Verdana, Arial, Helvetica, sans-serif, MS Gothic;
	color: #666666;
	font-size: 11px;
	background-color:#BDCFE7;
	border-top: 1px solid #9BB3D3;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
/*apply this class to a TAB only*/
}
.myRightTabHeaderOff a:hover{text-decoration: none; color:#ff0000;}
.myRightTabHeaderOff a:visited{text-decoration: none; color: #666666;}
.myRightTabHeaderOff a:link{text-decoration: none; color: #ffffff;}
.myRightTabHeaderOff a:active{text-decoration: none;}

.tabbar
{
font-family: Verdana, Arial, Helvetica, sans-serif, MS Gothic;
font-size: 11px;
color: #ffffff;
background-color: #39457B;
font-weight: bold;
text-align: left;
}
.dataLabelneac
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 35%;
text-align: right;
padding: 0px 0px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
/*apply this class to a LeftColumn of table only*/
}
.dataLabelFormat
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
/*apply this class to a LeftColumn of table only*/
}

.dataLabelneacright
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 65%;
text-align: left;
height: 23px;
margin: 0px;
padding: 0px 0px 0px 5px;
vertical-align: middle;
/*apply this class to a RigthColumn of table only*/
}
.db0pad
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 65%;
text-align: left;
height: 20px;
margin: 0px;
padding: 0px;
vertical-align: middle;
/*apply this class to a RigthColumn of table only*/
}
.my1AsignDe
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: 500;
color:#000000;
/*apply this class to a text of all links only*/
}
.myAsignDe a:hover{color: #ff0000; text-decoration: underline;}
.myAsignDe a:link{color: #ffffff; text-decoration: none;}
.myAsignDe a:visited{color: #ffffff; text-decoration: none;}

.chkbox
{
padding:0px;
margin:0px;
}
.buttonAlign
{
padding: 0px;
margin-left: 5px;
}
.centerText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
color: #000000;
text-align: center;
}


.odd1{
font-family: Verdana, Arial, Helvetica;
color: #3E3E3E;
font-size: 8pt;
/*#ECEFF2*/
}
.even1{
font-family: Verdana, Arial, Helvetica;
color: #3E3E3E;
font-size: 8pt;
/*#F3F5F8*/
}

.odd1 td
{
border-bottom: 1px solid #E6E6E6;
}

.even1 td
{
border-bottom: 1px solid #E6E6E6;
}

.loadingText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
text-align: right;
text-decoration: none;
color: #000000;
}

.uploadFile
{
border-top: 2px solid #999999;
border-right: 2px solid #e1e1e1;
border-bottom: 2px solid #e1e1e1;
border-left: 2px solid #999999;
}

.uploadFileTxt
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: 300;
text-decoration: none;
color: #000000;
}

.drag
{
	position:relative;
	cursor:hand
	background-color: #FFFFFF;
	border: 1px solid #0066CC;
	/*Drag popwindow*/
}

.titleBar {
	background-color: blue;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	/*title bar for issues popwindow */
}

.issueDetailsLayer {
	background-color: #FFFFCC
	/*background color for issues popwindow */
}
/* Calendar top row styles */
	.cpMonth
	{
		background-color:#CAD1DE;
		font-family:arial;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#990033;
		font-weight:bold;
		font-size:8pt;
		/*style for Clendar*/
	}

	.cpMonthScroller
	{
		background-color:#CAD1DE;
		font-family:arial;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		border: 1px solid #000000;
		/*style for Clendar*/
	}
	.cpMonthArrow
	{
		color:#990033;
		text-decoration:none;
		font-weight:bold;
		font-size:8pt;
		/*style for Clendar*/
	}
.myheadActive
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
color: #3A457C;
padding-left:10px;
background-color: #BDCFE7;
/*apply this class to a Headings of servicestable only*/
}
.dataLabel1
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: right;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
height: 23px;
/*apply this class to a LeftColumn of table only*/
}

#butons
{
margin-left: 15px;
}

.pageHead
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
color: #3A457C;
/*apply this class to a Headings of servicestable only*/
}

.mytableborderDB
{
border-top: 1px solid #999999;
border-right: 1px solid #999999;
border-bottom: 1px solid #999999;
border-left: 1px solid #999999;
/*apply this class to a ListServicesTable only*/
}
.myTextbox3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 8pt;
color:#000000;
padding: 0px;
margin-left: 5px;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
height: 18px;
width: 120px;
/*apply this class to a TextBox/Textfield only*/
}

.topLinks {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-weight : bold; 
text-decoration : none; 
} 
.topLinks a:link {
text-decoration : none; 
color : #000000; 
} 
.topLinks a:visited {
text-decoration : none; 
color : #000000; 
} 
.topLinks a:hover {
text-decoration : none; 
color : #ff0000; 
} 
.topLinks a:active {
text-decoration : none; 
color : #000000; 
} 


.links
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}
.links a{color: #000000; text-decoration: none;}
.links a:link{color: #000000; text-decoration: none;}
.links a:visited{color: #000000; text-decoration: none;}
.links a:active{color: #000000; text-decoration: none;}
.links a:hover{color: #ff0000; text-decoration: underline;}

.boldRunning {font-family: Verdana, Arial, Helvetica; font-size: 12px;color: #4579B5; font-weight: bold;}


.plus
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
}
.plus a{color:#000000; text-decoration:none;}

.navigationRow
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
}

.trlines
{
background-color: #EEF3FC;
}
.drillMe
{
border-top: 1px solid #e1e1e1; 
border-right: 1px solid #000000; 
border-bottom: 1px solid #000000; 
border-left: 1px solid #e1e1e1;
background-color: #DDE7F2; 
}

div
{
margin:0px;
padding: 0px;
}



.divBg
{
 background: #84AEE7;
 }
.bottomSeperator
{
height:5px;
background-color:#84AEE7;
}

pre
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
margin:0px;
padding:0px;
color: #000000;
text-decoration: underline;
}
pre a{text-decoration: none; color: #000000;}
pre a:visited {text-decoration: none; color: #000000;}
pre a:link {text-decoration: none; color: #000000;}
pre a:hover {text-decoration: none; color: #ff0000;}
pre a:link {text-decoration: none; color: #000000;}

#mypre
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
margin:0px;
padding:0px;
}
.breadCrumbBg
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
color: #000000;
padding-left: 12px;
background-color: #D6E3F7;
height: 30px;
/* this is used for bread crum*/
}
.breadCrumbBg a{color: #000000; text-decoration: none;}
.breadCrumbBg a:link{color: #000000; text-decoration: none;}
.breadCrumbBg a:visited{color: #000000; text-decoration: none;}
.breadCrumbBg a:active{color: #000000; text-decoration: none;}
.breadCrumbBg a:hover{color: #000000; text-decoration: underline;}


/*Form elements properties ends here*/



.headingTable
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
color: #fff;
height: 20px;
background-image : url(../images/tableHeader.gif);
background-color: #84AEE7;
border-right: 1px solid #D6E3F7;
border-bottom: 1px solid #D6E3F7;
border-left: 1px solid #D6E3F7;
}
.pagebanner
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
}
.pagelinks
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
}





.listBg
{
background-color: #E6E6E6;
}


.odd
{
font-family: Verdana, Arial, Helvetica;
color: #3E3E3E;
font-size: 8pt;
background-color: #ffffff;
vertical-align: middle;
}

.odd img
{
	vertical-align: middle;
}

.even
{
font-family: Verdana, Arial, Helvetica;
color: #3E3E3E;
font-size: 8pt;
background-color: #ffffff;
}
.odd a{color: #3E3E3E;}
.even a{color: #3E3E3E;}

/*DIV tag properties starts here*/

#deviceTabView {
	padding-right: 5px; padding-left: 5px;
	width:100%; height:89%; 
	overflow:auto;
}
#deviceTabsDiv {
	width:100%; height:60px; 
	overflow:hidden;
}

#rightBody{padding-right: 5px; padding-left: 5px; border-left: 1px solid #EFEFEF;}
#leftBody{padding-right: 2px; padding-left: 2px; background-color: #EFEFEF;}
#marginDiv {margin-top: 30px;}
.marginDiv{margin-top: 10px;}
#mainbody
{
padding-left: 2px;
padding-right: 2px;
}


#consoleList
{
background-color: #ffffff;
}

.consoleTable
{
background-color: #D1FFF2;
padding-left: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: xx-small;
vertical-align: middle;
}
.consoleTable a:visited {text-decoration: underline; color: #000000;}
.consoleTable a:link {text-decoration: underline; color: #000000;}
.consoleTable a:hover {text-decoration: underline; color: #000000;}
.consoleTable a:link {text-decoration: underline; color: #000000;}

.marg3
{
margin-left: 3px;
}

.frmTextArea
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: left;
padding: 0px 10px 0px 0px;
margin-left: 10px;
vertical-align: middle;
width: 330px;
height: 230px;
}
.userMsgs
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
}
.marginRight3px
{
margin-right: 3px;
}

#tooltip TD
{
background-color: #FFFFE1;
border: 1px solid #000000;
}

#tooltip table 
{
font-family: Arial, Verdana, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
width: 220px;
height:20px
}

.contentText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
text-decoration: none;
color: #336699;
}
.contentText a{color: #336699;}

.listText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
text-decoration: none;
color: #0B3460;
padding: 3px;
background-color: #ffffff;
}
.listText a {color: #336699;}

li
{
padding-top: 5px;
}

.borderBlue
{
border: 1px solid #D6E3F7;
}

.borderGrey
{
border: 1px solid #DEDFDE;
}

.para
{
border: 1px solid #D6E3F7;
}

.bredCrumb
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
font-weight: normal;
text-decoration: none;
color: #000000;
height:20px;
}

.bredCrumb a{color: #336699; text-decoration: none;}

.dataLabelviewL
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #336699;
text-align: right;
padding-right: 10px;
margin-left: 10px;
vertical-align: middle;
height: 20px;
}
.dataLabelviewR
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: left;
padding: 0px 0px 0px 10px;
vertical-align: middle;
height: 20px;
}

.formBg
{
background-color: #D6E3F7;
}

.dataFgOdd 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: 500;
text-align: left;
color: #000000;
height: 23px;
padding: 0px 0px 0px 3px;
border-right: 1px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
vertical-align: middle;
/*apply this class to a ODD no. row only ex: 1,3,5..!*/
}
.drpdown
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
padding: 0px;
margin: 0px;
vertical-align: middle;
border-top: 1px inset #BDCFE7;
border-right: 1px inset #3A457C;
border-bottom: 1px inset #3A457C;
border-left: 1px inset #BDCFE7;
}

.btn {
font-family: Verdana, Arial, tahoma, sans-serif;
font-size:11px;
background-color: #D9D7D8;
color:#333333;
font-weight:600;
height:22px;
text-decoration:none;
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
border-left: 1px solid #F5F5F5;
border-top:1px solid #F5F5F5;
margin:2px;
/*apply this class to a Button only*/
}

.Required
{
color: #CC0000;
font-size:7pt; 
/*apply this class to a Priority in MyNetEnrich/Home page only*/
}

.runningText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
color: #000000;
}

label
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
font-weight: normal;
text-decoration: none;
color: #336699;
}
.tabBorder
{
border: 1px solid #DEDFDE;
}
thresholdDiv
{
border: 1px solid #DEDFDE;
}
.backbg
{
background-color: #DEDFDE;
}

.pad5
{
padding-right: 5px;
vertical-align: middle;
}

.thresholdText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
font-weight: normal;
text-decoration: none;
color: #336699;
background-color: #ffffff;
}

.graphText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
font-weight: italic;
text-decoration: none;
color: #336699;
}


.data
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
text-decoration: none;
color: #000000;
}

.bg
{
background-color: #DEDFDE;
}
.greyClr
{
background-color: #F7F7F7;
}


#btnBarBotm
{
padding: 5px;
border-top: 1px solid #DEDFDE; 
border-right: 1px solid #DEDFDE; 
border-left: 1px solid #DEDFDE;*/
border-bottom: 1px solid #DEDFDE;*/
background-color: #F6F6F6;
text-align: left;
vertical-align: middle;
}

#btnBarTop
{
padding: 5px;
border-right: 1px solid #DEDFDE; 
border-left: 1px solid #DEDFDE;
background-color: #F6F6F6;
text-align: left;
vertical-align: middle;
}

.formLabel
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #003366;
padding-right: 5px;
margin: 0px;
vertical-align: top;
white-space: nowrap;
background-color: #ffffff;
height: 20px;
/*apply this class to a LeftColumn of table only*/
}

.formLabel1
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #003366;
padding-right: 5px;
margin: 0px;
vertical-align: middle;
white-space: nowrap;
background-color: #ffffff;
height: 20px;
/*apply this class to a LeftColumn of table only*/
}

.formData
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #000000;
padding-left: 5px;
vertical-align: middle;
background-color: #ffffff;
height: 20px;
}

.frmSubHead
{
font-family: Verdana, Arial, Helvetica;
font-weight: 500;
font-size: 8pt;
color: #000000;
padding-left: 5px;
margin: 0px;
vertical-align: middle;
white-space: nowrap;
background-color: #ffffff;
height: 20px;
}

.labelNormal
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #003366;
}

.dataNormal
{
font-family: Verdana, Arial, Helvetica;
font-weight: normal;
font-size: 8pt;
color: #003366;
}


.pad3
{
padding-left: 3px;
}

.white
{
background-color: #ffffff;
}

.t
{
border-top: 1px solid #DEDFDE;
}
.r
{
border-right: 1px solid #DEDFDE;
}
.b
{
border-bottom: 1px solid #DEDFDE;
}
.l
{
border-left: 1px solid #DEDFDE;
}
.pad5
{
padding: 5px;
}
.listBox{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
margin-left: 5px;
padding: 0px;
vertical-align: middle;
/*apply this class to a DropDownBox only*/
}
.input 
{
vertical-align: middle;
}

.marginT5
{
margin-top: 5px;
}



/* display table classes */

table.list th.order1 a {
background-position: right;
background-repeat: no-repeat;
display: block;
background-image: url(../images/arrow_up.png) !important;
}
table.list th.order2 a {
background-position: right;
background-repeat: no-repeat;
display: block;
background-image: url(../images/arrow_down.png) !important;
}
table.list th a {
background-position: right;
background-repeat: no-repeat;
display: block;
}
.pagebanner
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
}
.pagelinks
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
}
.exportlinks
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 7pt;
font-weight: normal;
color: #000000;
height:23px;
padding: 0px 0px 0px 10px;
}
.exportlinks a{color:#000000; text-decoration: none;}
.exportlinks a:hover{color:#ff0000; text-decoration: underline;}

.list
{
border: none;
}

.list tr.odd
{
background-color: white;
}

.list tr.even
{
background-color: white;
}

.list td
{
padding-left: 2px;
height: 20px;
}

.tableHeadFg 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
color: #003366;
padding-left: 2px;
height:20px;
vertical-align: middle;
background-color: #D6E4F8;

}

.tableHeadFg a:visited {text-decoration: underline; color: #003366;}
.tableHeadFg a:link {text-decoration: underline; color: #003366;}
.tableHeadFg a:hover {text-decoration: underline; color: #ff0000;}
.tableHeadFg a:link {text-decoration: underline; color: #003366;}

/* display table classes */


