#root {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana;
}
.subtext {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana;
}
#mtmtable A {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none;
}
#mtmtable A:hover {
	COLOR: #ccba7a
}
#mtmtable A.tracked {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000;
}
#mtmtable A.subexpanded {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff;
}
#mtmtable A.selectedNode {
	BACKGROUND: #de8e31; COLOR: #ffffff;
}
#mtmtable A.subclosed {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666699;
}

#mtmtable  {/*background-color: #FFDDCC;*/}

#mtmtable img
{
padding: 0px;
margin: 0px
}

#devicesTreeDiv	{
	padding: 5px;
}
#devicesSearchMenu
{
padding-top: 4px;
height: 30px;
}

#devicesSearchMenu img
{
vertical-align: text-bottom;
}


#devicesSearchMenu, #deviceTView {
width: 200px;
border: 1px solid #4579B5;
background-color: #FFFFFF;
}

#deviceView {
	border:none;
	}

#consoleList {
	position: absolute;
	visibility: visible;
	top: 0px;
	left: 0px;
}

#selectedDevices	{
 background-color: #F5F7FE;
 border: 1px solid #2B4D7E;
 }
 
 .treeViews	
 {
 	margin: 0px 0px 0px 0px; background-color:#ffffff; 	
 	font-family: Verdana, Arial, Helvetica;
 	font-size: 8pt;
 }

.linkClass
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color:#000000;
	text-decoration:none; 
}

.linkClass a
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color:#000000;
	text-decoration:none; 
}	

.linkClass a:hover
{
	color:#330099;
	font-weight: bold;
}